<style>
    .progress-container {
      margin-bottom: 20px;
    }
  
    .progress-label {
      font-weight: bold;
      margin: auto;
      width: fit-content;
      margin-bottom: 5px;
    }
  
    .bar-wrapper {
      position: relative;
      height: 4rem;
      background-color: #f0f0f0;
      border-radius: 6px;
      overflow: hidden;
      display: flex;
      width: calc(0.8 * var(--page-width));
    }
  
    .bar-fill {
      height: 100%;
      background-color: #4caf50;
      transition: width 1s;
      display: block!important;
    }
  
    .bar-fill.red {
      background-color: #e53935;
    }
  
    .bar-marker {
      height: 100%;
      background-color: #2255ff;
      transition: width 1s;
      display: block!important;
    }
  
    .bar-text {
      margin-top: 4px;
      font-size: 12px;
      margin-left: 1rem;
    }
    .bar-text-inside {
      font-size: 12px;
      position: absolute;
      top: 25%;
      left: 50%;
      height: fit-content;
      transform: translate(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fafafa;
      background-color: #17161c;
      padding: 0 0.5rem;
      border-radius: 1rem;
    }
    .data-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: fit-content;
        align-items: center;
    }

    #usage-bars {
      margin-bottom: 2rem;
    }

  </style>
  
  <div id="usage-bars">No usage data available</div>
  
  <script>

    async function getUsageData() {
        try {
            var data = await unifiedSendRequest(ORDERVOLUMES, {method: 'GET'});
            return data;
        } catch (error) {
            console.error(error);
            showMessage(error.message, false);
        }
    }

    async function refreshUsageData() {
        try {
            var data = await unifiedSendRequest(ORDERVOLUMESREFRESH, {method: 'GET'});
            return data;
        } catch (error) {
            console.error(error);
        }
    }

    async function updateUsageBars() {
      const usageData = await getUsageData();
      const container = document.getElementById('usage-bars');
      container.innerHTML = '';
    
      Object.entries(usageData).forEach(([key, { used, total, last_month }]) => {
        if (total == 'Unlimited') {
          percentUsed = 0;
          remaining = 'Unlimited';
          percentUsedLastMonth = 0;
          percentLastMonth = null;
        } else {
          percentUsed = (used / total) * 100;
          percentLastMonth = last_month !== undefined ? (last_month / total) * 100 : null;
          var percentUsedLastMonth = percentUsed;
          if (percentLastMonth !== null) {
            var percentUsedLastMonth = percentUsed-percentLastMonth;
          }
          if (percentUsed > 100) percentUsed = 100;
          var remaining = (total - used);
          if (remaining <= 0) remaining = 'None';
            else remaining = remaining.toLocaleString();
        }

        console.log('percentUsedLastMonth', percentUsedLastMonth, 'percentUsed', percentUsed, 'percentLastMonth', percentLastMonth, 'key', key, 'remaining', remaining,
        'used', used, 'total', total, 'last_month', last_month);
        const wrapper = document.createElement('div');
        wrapper.className = 'progress-container';
        const label = document.createElement('div');
        label.className = 'progress-label';
        label.textContent = `${key.charAt(0).toUpperCase() + key.slice(1)} (${remaining} left)`;
    
        const dataContainer = document.createElement('div');
        dataContainer.className = 'data-container';
        const barWrapper = document.createElement('div');
        barWrapper.className = 'bar-wrapper';
        barWrapper.title = `${remaining} ${key} left over this year`;
    
        const barFill = document.createElement('div');
        barFill.className = 'bar-fill';
        barFill.style.width = `0%`;
        setTimeout(() => {
          barFill.style.width = `${percentUsedLastMonth}%`;
        }, 50);
        barFill.title = `${used.toLocaleString()} ${key} received this year`;
        if (percentUsed > 90) barFill.classList.add('red');
        
        barWrapper.appendChild(barFill);
        
        if (percentLastMonth !== null) {
          const marker = document.createElement('div');
          marker.className = 'bar-marker';
          marker.title = `${(last_month).toLocaleString()} ${key} received last month`;
          marker.style.width = `0%`;
          var percentLastMonthTmp = `${percentLastMonth}%`;
          setTimeout(() => {
            console.log('percentLastMonth', percentLastMonthTmp);
            marker.style.width = percentLastMonthTmp;
          }, 50);
          barWrapper.appendChild(marker);
        }

        var barText = document.createElement('div');
        barText.className = 'bar-text-inside';
        barText.textContent = `${used.toLocaleString()} received`;
        barText.title = `${used.toLocaleString()}/${total.toLocaleString()} ${key} received this year`;
        barWrapper.appendChild(barText);
    
        wrapper.appendChild(label);
        wrapper.appendChild(barWrapper);
        const text = document.createElement('div');
        text.className = 'bar-text';
        text.textContent = `${percentUsed.toFixed(1)}% used`;
        text.title = `${used.toLocaleString()}/${total.toLocaleString()} ${key} received this year`;
        dataContainer.appendChild(wrapper);
        dataContainer.appendChild(text);
        container.appendChild(dataContainer);
      });
      refreshUsageData();
    }


    
  
  function showGuide() {
        startGuide([
            { element: "#usage-bars", group: "{{ 'software.guide.usage.welcome.group' | t }}", title: "{{ 'software.guide.usage.welcome.title' | t }}", text: "{{ 'software.guide.usage.welcome.text' | t }}", where: 'middle' },
        ]);
        setCookie('showedGuideUsage', 'true', 300);
    }
    
    function showGuideFromButton(element) {
      showGuide();
    }

    waitForPermission(function() {
      updateUsageBars();
      if(readCookie('showedGuideUsage') === null) {
        setTimeout(showGuide, 1000); // Delay in milliseconds, adjust as necessary
      }
    });

  </script>
  