
{% style %}
.warning-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}
.warning-item-title {
    width: 50%;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
#no-warnings {
    width: 50%;
    font-weight: bold;
}

{% endstyle %}

<div id="warningContainer" class="widget grid-item widget-left">
    <div id="warningTitle" class="grid-title">
      <div>Warnings</div>
      <div class="icon-container">
        <div onclick="expandWarnings()">{% render 'icon-expand' %}</div>
        <div onclick="openWarningsSettings()">{% render 'icon-gear' %}</div>
      </div>
    </div>
      <div id="warningList">
        {% comment %} <div class="warning-item">
            <div class="warning-item-title">
                <div>Warning 1</div>
            </div>
            <div class="warning-item-description">
                <div>No data received</div>
            </div>
        </div> {% endcomment %}
        <div class="warning-item">
            <div id="no-warnings">
                <div>No warnings</div>
            </div>
        </div>
      </div>
  </div>
  