{% comment %}
Renders container for statistics for pinned charts

Usage:
{% render 'forsure-chart-container' %}
{% endcomment %}
<div id="customChart" style="display: none;">{% render 'forsure-custom-plot', trashcan: trashcan %}</div>
<ul id="widgetContainer" class="widgetContainer" style="justify-content: center;display: none;"></ul>
{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.js"></script> {% endcomment %}
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script>
  $(function() {
    $("#widgetContainer").sortable({
      placeholder: "ui-state-highlight widget",
      items: "> :not(:first-child)", 
      update: function(event, ui) {
        const order = [];
        $("#widgetContainer").children(":not(:first-child)").each(function(index) {
          if ($(this).attr('id') in widgetChartParams) {
            order.push($(this).attr('id').replace('widget', ''));
          }
        });
        var formData = new FormData();
        formData.append('pin_order', order);
        unifiedSendRequest(UPDATEPINNEDCHARTSORDER, {formData: formData});
      }
    });
    $("#widgetContainer").disableSelection();
  });

  function calculateContainerHeight(numWidgets) {
    const WIDGET_MIN_WIDTH = 600;
    const WIDGET_HEIGHT = 350;
    const containerWidth = window.innerWidth;

    let preferredWidth = 0.3 * containerWidth - 10;
    let widgetWidth = Math.max(WIDGET_MIN_WIDTH, preferredWidth);

    let widgetsPerRow = Math.floor(containerWidth / widgetWidth);

    let numRows = Math.ceil(numWidgets / widgetsPerRow);

    let containerHeight = numRows * WIDGET_HEIGHT + (numRows - 1) * 20 // spacing;

    return containerHeight;
  }

  async function redraw(event = null, hard = false) {
    let containerId = 'widgetContainer';
    if (hard) { // Clear the contents of widgetContainer
      document.getElementById(containerId).innerHTML = '';
      var reportsDue = createCanvasElement('widgetReportsDue');
      reportsDue.classList.add('reportsDueWidget');
      document.getElementById('widgetContainer').appendChild(reportsDue);
      getReportsDue('widgetReportsDue').then(async (result) => {
          createReportsDueWidget(result);
      });
    }
    let availableCharts = await getPinnedCharts();
    await drawCharts(availableCharts, containerId, hard);

    let count = document.querySelectorAll(`#${containerId} > li`).length;
    var widgetContainerHeight = `${
      calculateContainerHeight(count) // TODO remove 1 once add more is elsewhere
    }px`;
    document.getElementById(containerId).style.height = widgetContainerHeight;
  }


  waitForPermission(async function() {
    if (window.userPermissions['forsure-statistics'] && window.userPermissions['pinnedchart']) {
      document.getElementById('widgetContainer').style.display = 'flex';
      await redraw(null, true);
      // Add resize event to window
      window.addEventListener('resize', redraw);
    }
  });
</script>