{% assign placeholder_url = 'shopify://shop_images/unit-test.png' | image_url: width: 360, height: 180 %}
<p data-image-url="{{ placeholder_url }}"></p>
{{ 'shopify://shop_images/unit-test.png' | image_tag: width: 360, height: 180, alt: 'Unit Test Asset' }}
