header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  #disappearbutt {
    display:none;
  }
  
  @media screen and (min-width: 1050px) {
    header-drawer {
      display: none;
    }
    #disappearbutt {
     display: block;
     white-space: nowrap;
   }
  }
  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }
  @media screen and (max-width: 990px) {
   .header-wrapper{
    padding-top: 1.5rem
  }
  }
  
  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
  .disclosure__list-wrapper {
  position: relative;
}

.disclosure .disclosure__button[aria-expanded="true"] ~ .disclosure__list-wrapper .disclosure__list {
  display: block;
}
#disappearbutt:hover {
  color: #fafafa;
}