
  .rich-text p {
    text-align: left;
    /* hyphens: auto;
    -webkit-hyphens: auto;  */
     text-align-last: left;
    }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 10;
}

.modal-content {
    position: absolute;
    border-radius: 25px;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #17161c;
    width: 90%;
    max-width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 24px; /* Increase the font size */
    width: 30px;     /* Set a width */
    height: 30px;    /* Set a height */
    padding: 5px;    /* Add some padding */
    text-align: center; /* Center the 'x' or any other content inside */
    line-height: 30px;  /* Vertically center the 'x' or any other content */
    color: #17161c;
}

#reopenButton {
    position: fixed;      /* Fixed positioning to keep it on the viewport */
    top: 90%;             /* Center it vertically */
    left: 2%;              /* Position it on the left side */
    transform: translateY(-50%); /* Centering adjustment */
    z-index: 1000;        /* Ensure it's above other elements */
    cursor: pointer;      /* Pointer cursor for better UX */
    background-color: #17161C; /* Background color as provided */
    border: none;         /* Remove any default borders */
    display: none;        /* Initially hidden */
    width: fit-content;   /* Make width fit the content */
    height: fit-content;  /* Make height fit the content */
}

.textblock {
    hyphens: auto;
    -webkit-hyphens: auto; 
    text-align: left;
    text-align-last: left;
}


.field {
  margin: 1rem 0;
}

#consent {
  font-size: 1.2rem;
}
  

.modal-content-text {
  padding: 0 1rem;
}
.popupContainer {
  border-radius: 3rem;
  overflow: hidden;
}

@media screen and (min-width: 450px) {
  .modal-content-text {
      padding: 0 2rem;
  }
  .modal-content {
    /* padding: 20px; */
  }
}